{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="indexBody">
<h3 id="title"></h3>

<div id="profileHeader" data-profile="{{ user }}">
</div>

<div id="followResultArea">
</div>

<div id="postTab">
</div>

<div id="new_post_area" class="form-group">
    <form class="post_form send" action="/" method="post">
        {% csrf_token %}
        <h5 id="labelForNewPost"><label for="newPost">New Post</label></h5>
        {{ postForm }}
        <input type="submit" id="post_button" class="btn btn-info" value="Post">
        <input type="hidden" class="sendButton" name=postId value="">
        <span class="charAmount"></span> 
    </form>
</div>

<div id="topPagination">
</div>

<div id="all_posts">
</div>

<div id="main">
<nav id="bottomPagination" >
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link previousPage" style="display: none;" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
      <select class="form-select selectItem" aria-label="Default select example">        
      </select>
      <li class="lead seperate">  /  </li>
      <li class="page-item wrapperLast" ><a class="page-link lastPage"></a></li>
      <li class="page-item">
        <a class="page-link nextPage" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  
</div>
</div>

  <!-- Button trigger modal for empty search -->
  <input type="hidden" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#emptySearchModal" id="alertEmptySearch">
  <!-- Modal -->
  <div class="modal fade" id="emptySearchModal" tabindex="-1" role="dialog" aria-labelledby="emptySearchLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          Enter at least one character to search.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


    <!-- Button trigger modal for delete post-->
    <input type="hidden" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal" id="alertConfirmDelete">
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            Are you sure to delete this post?.
          </div>
          <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" id="deleteLastConfirm" class="btn btn-danger">Yes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

<script src="{% static 'network/icons.js' %}"></script>
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}