{% extends "network/layout.html" %}

{% block body %}

    <h2 style="color: #07405adc;">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ loginForm }}
        <input class="btn btn-primary" type="submit" value="Login">
        <a href="{% url 'send_mail_to_user' %}" id="forgot">Forgot Password?</a>
    </form>
    
    <div style="margin-top: 30px;">Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>

{% endblock %}