{% extends "network/layout.html" %}

{% block body %}

  
        <h2 style="color: #07405adc;">Register</h2>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ registerForm }}
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
        <div style="margin-top: 5px;">Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
  

{% endblock %}