.body {
    padding: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
}



.mainTag {
    position: absolute;
    top: 16px;
    font-size: 11px;
    left: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #011d69;
}

.netw {
    position: relative;
    top: 5px;
    left: 3px;
    font-family: 'Times New Roman', Times, serif;
    color: #022c55;
    font-size: 21px;
 
}

.topNot {
    display: inline-block;
}

.desktopNavbar, .mobileNavbar {
    background-color: #2262800c;
    background-image: linear-gradient(to bottom, #082c3d28 , rgba(152, 194, 211, 0.13));
}

@media (max-width: 1024px) {.topNot{
    display: block;
}
}

@media (max-width: 1024px)  {#desktopBar{
    display: none;
    }   
}

@media (max-width: 1195px)  {#notD{
    display: none;
    }   
}
@media (max-width: 1195px)  {#searchForm{
    width: 130px;
    }   
}
@media (max-width: 1024px)  {#userName{
    font-size: 30px;
    }   
}
@media (max-width: 1024px)  {.followButton{
    font-size: 15px;
    padding: 2px;
    position: relative;
    bottom: 40px;
    }   
}
@media (min-width: 1024px)  {.followButton{
    position: relative;
    bottom: 50px;
    }   
}
@media (min-width: 1023px)  {#userName{
    font-size: 40px;
    }   
}

@media (max-width: 1023px)  {.aboutUser, .loginWarn{
    font-size: small
    }   
}
@media (min-width: 1023px)  {#mobileBar{
    display: none;
    }   
}
@media (max-width: 500px)  {.body{
    padding: 10px;
    padding-bottom: 20px;
    }   
}

@media (max-width: 500px)  {#profileHeader{
    margin: 10px; 
    }   
}

@media (min-width: 1440px)  {.indexBody, #searchIcon2{
    width: 60%; 
    margin-left: 20%;
    }   
}

@media (min-width: 1440px)  {#searchIcon2, .coverS {
    border-radius: 0 0 20px 20px;
    }   
}

@media (max-width: 500px)  {#mobileSiteIcon{
    margin-left: 0px;
    }   
}
@media (max-width: 1023px)  {.mainTag{
    left: 75px;
    }   
}
@media (min-width: 1023px)  {.mainTag{
    top: 18px;
    }   
}
@media (max-width: 500px)  {.mainTag{
    left: 55px;
    }   
}
@media (max-width: 500px)  {#searchResults, #searchResults2{
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 0px !important;
    
    }   
}

@media (max-width: 500px)  {#title{
    margin-left: 10px;
    margin-top: 10px;
    }   
}


@media (max-width: 1024px)  {.postClock, .postDate{
    position: relative;
    bottom: 5px;
    letter-spacing: 0px;
    font-weight: 300;
    }   
}


@media (max-width: 1024px)  {.postOwner{
    display: block;
    font-size: large;
    }   
}

@media (min-width: 1024px)  {.login{
    width: 50%;
    }   
}

@media (min-width: 1024px)  {.changeForm{
    width: 50%;
    }   
}



#title {
    color: #07405adc;
}

#labelForNewPost {
    color: #07405aa6;
    margin-bottom: 0px;
}

.searchInput:focus {
    outline: none !important;
}

#searArea {
    position: relative;
    right: 20px;
}

#proArea {
    position: relative;
    right: 15px;
}

#notArea {
    position: relative;
    right: 10px;
    top: 10px;
    width: 26px;
    height: 45px;
    padding-top: 0px;
}

#proArea:hover, #notArea:hover {
    cursor: pointer;
}

.proResult {
    position: relative;
    left: 3px;
    top: 2px;
    word-wrap: break-word;
}

.commentTree {
    padding-top: 20px;
}

.postGroupHr {
    position: relative;
    bottom: 20px;
}

.proResult:hover {
    cursor: pointer;
}

.moreResult {
    cursor: pointer;
    font-style: italic;
    color: gray;
    padding-bottom: 10px;
}

#navbarToggleExternalContent {
    text-align: left;
    background-color: #cfdfe2;
    width: 120px;
    position: absolute;
    right: 0px;
    z-index: 6;
    font-weight: 500;
    border-radius: 0px 0px 3px 3px;
}

#new_post_area {
    border: solid rgb(196, 192, 192) 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(104, 143, 175, 0.192);
    display: none;
}

.searchButton {
    border: none;
    position: relative;
    bottom: 2px;
}

.searchButton:focus {
    border: none;
    outline: none;
}


#closeWrap, #closeWrap2 {
    display: flex;
    justify-content: flex-end;
}

#closeSearch, #closeSearch2 {
    border-radius: 16px;
    padding: 3px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-right: 10px;
    ;
}

#searchResults, #searchResults2 {
    margin-right: 5px !important;
    margin-left: 10px;
    padding-left: 20px;
    background-color: rgba(89, 130, 163, 0.068) !important;
    border-radius: 20px;
    word-wrap: break-word;
}

.searchPillow {
    height: 20px;
}

#post_button {
    margin-top: 5px;
    background-color: #07405aa6;
    border: none;
}

.newPost {
    width: 100%;
    border: 1px solid rgb(153, 152, 152);
    border-left: solid 4px #1044744d;
}

.post {
    border: solid rgb(196, 192, 192) 1px;
    border-radius: 5px;
}

.postOwner {
    font-weight: bolder;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #07405a;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;

}
.postOwner:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: rgb(85, 93, 100);
}

.postClock {
    color: rgb(100, 98, 98);
    font-size: smaller;
    margin-left: 5px;
    padding-left: 5px;
}

.postDate {
    color: rgb(100, 98, 98);
    font-size: smaller;
}

.postContent {
    margin-left: 5px;
    padding: 5px;
    width: auto;
  
    color: black;
    font-weight: 400;
}


.heart, .comment {
    margin-bottom: 5px; 
    display: inline-block;
}
.comment {
    margin-left: 50px;
}
.heart {
    margin-left: 20px;
}

.heartCount {
    margin-left: 5px;
}
.heartIcon:hover, .commentIcon:hover, #allPosts:hover, #allPostsM:hover, #following:hover, #followingM:hover, #profile:hover, .maker:hover, #notification:hover{
    cursor: pointer;
}


#profileHeader {
    border-radius: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
    background-image: radial-gradient(rgba(70, 124, 147, 0.110), rgba(70, 124, 148, 0.120), rgba(70, 124, 149, 0.210));
    padding: 5px;
    box-shadow: 0px 0px 3px 7px rgba(108, 160, 160, 0.350);
    display: none;
}

.proHead{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-wrap: break-word;
}

.profilePhoto, #userName {
    margin-right: 5%;
}

.profilePhoto {
    background-color: rgba(147, 201, 245, 0.158);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 4px rgba(104, 143, 175, 0.479);
    margin: 20px;
    
}

#userName {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    margin: 5px;
    width: 70%;
    word-wrap: break-word;
    color: #07405a;
}

#userName:hover {
    cursor: default
}

.followButton {
    border-radius: 30px;
    border: solid 3px;
    float: right;
    align-self: flex-end;
    margin: 5px;
  }

.userCount {
    font-weight: bolder;
    display: block;
    padding-left: 25px;
    position: relative;
    top: 10px;
}

.joinedDate {
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 102, 102);
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 7px;
    display: block;
}

#postTab {
    font-weight: bold;
    font-size: large;
}

#postTabBottom {
    position: relative;
    bottom: 10px;
}

#commentsTitle {
    margin-left: 50px;
}

#postsTitle {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #497070;
}

.postTabMain {
    color: rgba(70, 124, 145, 0.733);
    position: relative;
    top: 5px;
    left: 10px;
}

.postTabMain:hover {
    cursor: pointer;
}


.userFollow {
    font-weight:500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#followerArea, #followArea  {
    margin-bottom: 20px;
    padding-left: 30px;
}

#followerLink, #followLink {
    color: #07405ace;
}

.followTitle {
    font-weight: bold;
    margin-bottom: 20px;
    color: #497070;
    position: relative;
    left: 5px;
}

.followTitle:hover {
    cursor: default;
}

.followsB {
    color: rgba(70, 124, 145, 0.733);
}

.remainChar {
    color: gray;
    font-size: small;
}

.aboutUser {
    margin-left: 30px;
    padding-right: 15px;
    margin-top: 10px;
    display: inline-block;
    width: fit-content;
    word-wrap: break-word;
    cursor: default;
    font-weight: 600;
    color: #07405a;
}

.aboutTextEdit{
    width: 100%;
    background-color: rgba(206, 236, 248, 0.089);
}
.aboutTextEdit:focus{
    background-color: rgba(206, 236, 248, 0.089);
    border-color: rgba(128, 128, 128, 0.185);
}

#aboutInfo, .aboutInfo {
    font-weight: 500;
    color: gray;
    padding: 2px;
    float: right;
    position: relative;
    bottom: 44px;
    margin-right: 25px;
}

#aboutInfo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.twoFollow {
    width: 130px;
    margin-left: 5px;
    padding-top: 0px;
    margin-top: -10px;
}

#profileM {
    position: relative;
    bottom: 2px;
}

.postItem {
    box-shadow: 0px 0px 10px 5px rgba(104, 143, 175, 0.192);
    padding-top: 5px;
    word-wrap: break-word;

}

.postContent:hover, .joinedDate:hover, .postDate:hover, .postClock:hover {
    cursor: default;
}

.edit, .save, .delete, .deleteHidden, .editHidden{
    margin-left: 40px;  
    padding: 1px;
    padding-bottom: 0px;
    margin-bottom: 4px;
}
.edit, .save, .delete {
    font-size: 12px;
}

.save {
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 2px;
}

#saveInfo {
    border-radius: 15px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.seperate{
    color: gray;
    padding-left: 10px;
    padding-right: 10px;
}

.submitComment {
    margin-bottom: 10px;
    border: none;
    color: white;
}

.commentWrapper {
    width: 100%;
    padding-left: 3%;
    margin-top: 10px;
    border-left: solid 3px #10447442;
}

.commentText {
    margin-top: 20px;
    border-left: solid 3px #10447442;
}

.commentSection {
    box-shadow: -10px 0px 5px 0px rgba(52, 130, 175, 0.151);
}

.charAmount {
    float: right;
    position: relative;
    top: 5px;
    right: 5px;

    
}

.sendButton {
    display: inline-block;
}

.loadInfo {
    margin-left: 3%;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    font-style: italic;
    color: gray;
}

.notLoad {
    position: relative;
    left: -8%;
    padding-left: 0px;
}

#notificationM {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    bottom: 2px;
}

.notTime {
    color: gray;
    font-size: smaller;
    
    padding-left: 2px;
    letter-spacing: 0px;
}

.notBody {
    font-weight: bold;
    font-size: large;
    margin-left: 2px;
    


}

.notItem {
    margin-top: 5px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 5px;
}

.person {
    color: #0373db;
}

.maker {
    margin-left: 10px;
}

.contentRepr {
    
    font-weight: 400;
    color: rgb(94, 94, 94);
    
}

.selectItem {
    color: gray;
    border: solid 1px #7979792d;
    border-radius: 2px 2px 2px 2px;
    padding-left: 7px;
    padding-right: 2px;
    font-family: sans-serif;
}

.lastPage {
    border: 1px solid #7979792d;
    border-radius: 2px 0px 0px 2px;
    font-family: sans-serif;
}
.lastPage:hover, .nextPage:hover, .previousPage:hover {
    cursor: pointer;
}

.wrapperLast {
    color: gray;
}

.nextPage {
    margin-left: 0px;
    border-left: 0px;
}
.previousPage {
    border-right: 0px;
}

#notCount, #notCountM{
    padding-left: 7px;
    padding-right: 7px;
    border: solid 1px #4faaff;
    font-weight: 600;
    font-size: small;
    background-color: #4faaff;
    color: white;
    margin-left: -2px;
    display: none;
    padding-top: 0px;
}
#notCountM {
    position: relative;
    bottom: 1px;
}

.bi-bell {
    position: relative;
    bottom: 2px;
}


#proIcon {
    position: relative;
    top: 10px;
    left: 3px;
}

.navbar-brand {
margin-left: 20px;
font-family: Optima;
font-size: x-large;

}

.bi-globe2 {
    background-image: linear-gradient(to right, #07405a , rgba(152, 194, 211, 0.24));
    margin-bottom: 5px;
    color: #a2b8cc46;
}

.dots {
    height: 50px;
    width: 100%;
    border-left: dotted 3px #10447485;
}

.commentDots {
    border-left: dotted 3px #10447486;
}

.largeDots {
    height: 40px;
}

.smallDots {
    height: 15px;
}

.largePillow {
    height: 15px;
}

.noYet {
    margin-left: 10px;
    color: darkgray;
}

.loginWarn {
    color: gray;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    text-decoration: underline;
    border-radius: 0px 10px 10px 0px;
    background-color: #2262800c;
    border-left: dotted 3px #10447442;
    margin-top: 2px;
}

.lgtext {
    color: #022b55d7;
}

.commentPillow {
    height: 20px;
    border-left: solid 3px #10447442;
    border-radius: 0px 0px 0px 0px;
}

.loggin {
    position: relative;
    bottom: 14px;
}

.coverS .collapse{
    background-color: white;
}

.hamburger {
    border:none;
    padding-left: 0px;
    padding-right: 0px;
}

.hamburger:focus {
    border:none;
    outline: none;
}

#hede {
    width: 180px;
}

.people {
    position: relative;
    right: 2px;
    bottom: 2px;
}

